<html ng-app="downloader">
  <head>
    <script src="/js/node_modules/httpclient/bundle.js"></script>
    <script src="/js/node_modules/aria2/bundle.js"></script>
    <script src="/js/bower_components/messageformat/messageformat.js"></script>
    <script src="/js/bower_components/angular/angular.min.js"></script>
    <script src="/js/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/js/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/js/bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="/js/bower_components/angular-material/angular-material.min.js"></script>
    <script src="/js/bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="/js/bower_components/angular-translate-interpolation-messageformat/angular-translate-interpolation-messageformat.min.js"></script>
    <script src="/js/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/service/list.js"></script>
    <script src="/js/background.js"></script>
  </head>
</html>
